* {
    color: #f8f8f2;
    background-color: #282a36;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('media/fonts/SpoqaHanSansNeo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
    background-color: #282a36;
}

.avatar {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid #6272a4;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

hr {
    border-top: 1px solid #6272a4;
}

a, a:hover {
    color: #8be9fd;
}

.image-container {
    position: relative;
  }
  
.image {
    width: 100%;
    height: auto;
}
  
.overlay {
  max-height: 0;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
  
.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(2px);
    transition: background-color 0.3s ease;
}

  
.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.text span {
    color: white;
    font-size: 24px;
}
  
.hint_hover {
  opacity: 0.6;  /* Makes the text look faded */
  font-size: 0.8em;  /* Makes the text smaller */
  font-style: italic;  /* Optional: Makes the text italic */
}
  